[build]
  publish = "public"
  functions = "netlify/functions"
[build.environment]
  NODE_VERSION = "18"
[functions]
  node_bundler = "esbuild"
[[headers]]
  for = "/*"
  [headers.values]
    Cross-Origin-Opener-Policy = "same-origin"
    Cross-Origin-Embedder-Policy = "require-corp"
